<div>
  <table (matSortChange)="onMatSortChange($event)" [dataSource]="users() || []" class="mat-elevation-z8" mat-table
         matSort>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by name"> Name</th>
      <td *matCellDef="let user" [routerLink]="['', user.id]" class="c ursor-pointer" mat-cell>
        {{ user.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by role"> Role</th>
      <td *matCellDef="let user" mat-cell> {{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="protectedProjects">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by protected projects">
        Protected projects
      </th>
      <td *matCellDef="let user" mat-cell> {{ user.protectedProjects }}</td>
    </ng-container>

    <tr *matHeaderRowDef="['name', 'role', 'protectedProjects']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['name', 'role', 'protectedProjects'];" mat-row></tr>

  </table>
  <mat-paginator (page)="onPageChange($event)" [length]="total()" [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="pageSize()"
                 aria-label="Select page of periodic elements"
                 showFirstLastButtons>
  </mat-paginator>
</div>
