<div>
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'search' | i18next }}</mat-label>
      <input [formControl]="filterText" [placeholder]="'searchPlaceholder' | i18next" matInput>
    </mat-form-field>
  </form>


  <table (matSortChange)="onMatSortChange($event)" [dataSource]="users() || []" class="mat-elevation-z8" mat-table
         matSort>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef [sortActionDescription]="'sortByName' | i18next" mat-header-cell
          mat-sort-header>{{ 'nameColumn' | i18next }}
      </th>
      <td *matCellDef="let user" [routerLink]="['', user.id]" class="cursor-pointer" mat-cell>
        {{ user.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th *matHeaderCellDef [sortActionDescription]="'sortByRole' | i18next" mat-header-cell
          mat-sort-header>{{ 'role' | i18next }}
      </th>
      <td *matCellDef="let user" mat-cell> {{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="protectedProjects">
      <th *matHeaderCellDef [sortActionDescription]="'sortByProtectedProjects' | i18next" mat-header-cell
          mat-sort-header>
        {{ 'protectedProjects' | i18next }}
      </th>
      <td *matCellDef="let user" mat-cell> {{ user.protectedProjects }}</td>
    </ng-container>

    <ng-container matColumnDef="ifFavoriteUser">
      <th *matHeaderCellDef mat-header-cell>
        {{ 'isUserFavorite' | i18next }}
      </th>
      <td *matCellDef="let user" mat-cell>
        @if (user.isFavorite) {
          <mat-icon>star</mat-icon>
        } @else {
          <mat-icon>star_border</mat-icon>
        }


      </td>
    </ng-container>

    <tr *matHeaderRowDef="['name', 'role', 'protectedProjects', 'ifFavoriteUser']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['name', 'role', 'protectedProjects', 'ifFavoriteUser'];" mat-row></tr>

  </table>
  <mat-paginator (page)="onPageChange($event)" [length]="total()" [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="pageSize()"
                 aria-label="Select page of periodic elements"
                 showFirstLastButtons>
  </mat-paginator>
</div>
