<div class="user">
  <h3>{{ 'userName' | i18next }}: {{ userName() }}</h3>
  <h4>{{ 'protectedProjects' | i18next }}: {{ protectedProjects() }}</h4>
  <div class="buttons">
    <button (click)="synchronizeUser()">{{ 'synchronize' | i18next }}</button>
    <button (click)="removeFromFavorites()" *ngIf="isUserFavorite()">{{ 'removeFromFavorites' | i18next }}</button>
    <button (click)="addToFavorites()" *ngIf="!isUserFavorite()">{{ 'addToFavorites' | i18next }}</button>
  </div>
  <button [routerLink]="['/']" class="mt-1">{{ 'goBackToList' | i18next }}</button>
</div>


